* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(41, 114, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
    text-align: center;
    text-decoration: none;
    margin-top: 13%;
    padding-top: 9%;
    background-color: beige;
    height: 300px;
    width: 800px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px black;
    
}
p {
    margin-bottom: 6px;
    width: 20%;
}
#password {
    padding: 1%;
    flex-wrap: wrap;
    text-wrap: wrap;
    margin-left: 39%;
}
button {
    margin-top: 2%;
    text-decoration: none;
    background: #aeaeae;
    border: 2px;
    border-radius: 40px;
    padding: 10px;
    color: rgb(41, 114, 31);
    font-size: 28px;
    width: 100px;
    height: 50px;
}